
.card5::before,
::after {
  margin: 10;
  padding: 10px;
  box-sizing: border-box;
}


#cCarousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  
}



#cCarousel .arrow  {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: black;
  cursor: pointer;
}


#cCarousel .arrowRight   {
  position: absolute;
  top: 50%;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;
  background: black;
  cursor: pointer;
  right:0
}

#cCarousel #prev {
  left: 0px;
}

#cCarousel #next {
  right: 0px;
}

#carousel-vp {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 5s ease-in;
  gap: 10px;
  left: 0px;
}

.fa-chevron-right{
background-color: red;
right:0;
z-index: 1000;
}
.fa-chevron-left{
  background-color: pink;
  left:0;
  
  }

