
.footer00{
  height:200px;
  padding: 10%;
}
.footer00 img{
  height: 120px;
  padding: 20%;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .footer00 {
    height: auto; /* Allow height to adjust based on content */
    padding: 5% 10%; /* Responsive padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}

.footer00 img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    padding: 5%; /* Responsive padding for images */
}

}
.footer0{
    background-color:#F6F6F6 ;
    padding-left: 5%;
  }
  .footer0 img{
    height: 120px;
    padding: 20%;
    padding-left: 0px!important;
    padding-right: 0px;
  }
  
.footer0 .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logoList {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Adjust this based on your layout */
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
 .logoList li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .logoImage {
    height: auto;
  }
  .footer00 .logoImage{
    height: 200px;
  }
  
  .footer1 {
    background-color: #DC0714;
    color: white;
    height: 1%;
  }
  .footer1 .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    height: 250px;

  }
  .footer1 .logoImage{
    height: 25px;
    margin:60px;
    padding-left: 10%;
  }
 
  .footer2 {
    background-color: #B71515;
    height: 20%;
    padding: 7%;
    margin: -0.5em;
    justify-content: center;
  }
  
  .footer3 {
    background-color: #911712;
    color: white;
    padding: 5%;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .footer3 .copyRights {
    padding-bottom: 0;
    text-align: center;
  }
  @media (max-width: 768px) {
    .logoList {
        grid-template-columns: repeat(2, 1fr); /* 2 logos on small screens */
    }
    .footer1 .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      height: 250px;
  
    }
    .footer1 .logoImage{
      height: 25px;
      margin:6px;
      padding: 10%;
    }
    .footer2{
      width: 100%;
    }
}